* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.flex-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  background: #f2f2f2;
  flex-direction: column;
}
.logo {
  margin: 0.5em 0.5em 0em 0.25em;
  align-self: left;
  font-size: 2em;
  font-weight: lighter;
}
.textorange {
  color: #ff5c0f;
}

.textblue {
  color: #20a8b4;
}

.navigation {
  list-style: none;
  flex-direction: column;
}

.navigation a {
  display: flex;
  margin: 0.5em 0.25em;
  padding: 0em 0.5em;
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.navigation a:hover {
  color: #ff5c0f;
}

.btn {
  display: flex;
  padding: 12px;
  border-radius: 10px;
  background-color: #20a8b4;
}
a.btn,
.btn a,
a.btn2,
.btn2 a {
  color: white;
  text-decoration: none;
  align-self: center;
  padding: 12px;
  border-radius: 10px;
}
.btn:hover {
  background-color: #ff5c0f;
}
a.btn:hover {
  color: white;
}
.btn2 {
  width: 96%;
}
.content {
  margin: 60px 0 0 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.contentleft {
  margin: 0 0 0 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}
.contentright {
  display: none;
}

@media all and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    align-items: center;
  }
  .logo {
    margin: 0 0.5em 0em 0.5em;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation a {
    margin: 0;
  }
  .btn2 {
    width: 6em;
  }
  a.btn2 {
    align-self: flex-start;
    justify-content: center;
  }

  .contentleft {
    flex: 2;
  }
  .contentright {
    margin-right: 2.5em;
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }
}
