body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #FFF;
    color: #000;
}

nav {
    background-color: #f2f2f2;
   /* display: flex;
    flex-direction: column; */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    display: flex; 
    flex-direction: column;
    
    
    

}
nav ul li {
   /* display: flex; */
    margin: 4px 0;
    padding: 0;
    flex: auto;
}
nav ul li a {
    /*display:flex;*/
    font-size: 11px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}

nav ul li.list a:hover {
    /*background-color: #f2f2f2;*/
    color: #ff5c0f 
}
nav ul li.logo {
    margin: 0;
    padding: 0;
    font-size: 22px;
}
span.blue {
    color: #20a8b4;
    margin-right: 5px;
}
span.orange {
    color: #ff5c0f
}
.btn {
    padding: 12px;
    border-radius: 10px;
    background-color: #20a8b4;
    
    
}
.btn a {
    color: white;
    text-decoration: none;
}
.btn:hover {
    background-color: #ff5c0f;
    color: white;
}

div.content {
    margin: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.contentleft {
    margin: 0 10;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
div.contentright {
    
    display: none;
}

@media all and (min-width: 768px) {
    nav {
        flex-direction: row;
    }
    nav ul {
     
        flex-direction: row;
        align-items: center;
    
    }

    nav ul li.list {
        justify-content: flex-end;
       }
    
    nav ul li.logo{
        justify-content: flex-start;
    }
    div.contentright {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 50%;
    }
}